* {
    margin: 0;
    padding: 0;

}

.divider{
	border-left: 1px solid gray;
    margin: 0px 7px;
}

body{
	font-family: 'Open Sans', sans-serif;
    font-size: 1.6em;
    overflow-x: hidden!important;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
    
.navbar-inverse .navbar-nav .nav-link{
	font-size: 1.125rem;
	color:  #6f6e6e;
	font-weight: 700;
    margin-top: 10px;	
}

.nav-link.active{
	color:  #7a1fff!important;
	font-weight: 700!important;
}

.bg-inverse {
    background-color: rgba(255, 255, 255, 0.8)!important;
}

.navbar-inverse .navbar-nav .nav-link:hover {
    color: #333333;
}

.navbar-inverse .navbar-nav .active>.nav-link:hover, #activeLang {
    color: #7a1fff;
}

.navbar-inverse .navbar-toggler {
    border-color: transparent;
}

.navbar-inverse .navbar-toggler:focus{
    outline: 1px dotted transparent!important;
}

.navbar-inverse .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(48, 61, 161, 1)' stroke-width='5' stroke-linecap='square' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  border-color: transparent;        
}

.second-nav .nav-link{
    display: inline-block;
}

.carousel-indicators li{
    max-width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
    border: 3px solid #ffffff;
}

.carousel-item, .carousel-item-next, .carousel-item-prev{
    align-items: flex-end!important;
}

.carousel-item.active{
    align-items: flex-end!important;
    position: relative;
}

.navbar-toggleable-md .navbar-nav.first-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.statisticsInfo p{
    font-family: 'Roboto', sans-serif;
    color:  #333333;
    font-size: 2.005rem;/* Approximation due to font substitution */
    font-weight: 400;
    text-align: center;
    margin-top: -30px;
}

span.statistics{
    color: #7a1fff;
    font-size: 5.889rem;
    font-weight: 900;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.centered{
    text-align: center;
}

footer{
    background-color:  #333333;
    font-family: Roboto;
    color:  #9b9b9d!important;
    font-size: 1.111rem;/* Approximation due to font substitution */
    font-weight: 300;
    margin-top: 5%; 
}

h1{
    font-family: Roboto;
    color:  #7a1fff;
    font-size: 2.899rem;/* Approximation due to font substitution */
    font-weight: 700;
    text-align: center;
    margin: 5% 0 2% 0;   
}

.aboutUs p, .aboutUs ul{
    font-family: Roboto;
    color:  #5a5a5a;
    font-size: 1.2rem;/* Approximation due to font substitution */
    font-weight: 400;
    text-align: left;
}

.aboutUs ul{
    padding-left: 6%;
}

h2{
    font-family: Roboto;
    color:  #7a1fff;
    font-size: 1.787rem;/* Approximation due to font substitution */
    font-weight: 700;
    text-align: center;
    margin: 5% 0 2% 0; 
}

.ourPartners{
    background: url('https://s3.eu-central-1.amazonaws.com/kantoo.main.web.site/homeMain/images/sprite1.png') no-repeat;
    /*background-size: 833px 1234px;*/
        margin: 5px auto;
        max-width: 100%; 
        background-size: 100%;
}

.customToggler{
    margin-top: 10px;
}

.carouselCaption{
    font-family: 'Lato', sans-serif;
    position: absolute;
    left: 5%;
    color: #ffffff;
    bottom: 13%;
    max-width: 900px;
}

.caption{
    display: block;
    line-height: 1;
    font-size: 4.5rem;
}

.quote{
    display: inline-block;
    font-size: 2.5rem;
    background-color: #7a1fff;
    padding: 1% 5%;
    margin-top: 2%;
    width: auto;
    white-space: nowrap;
}

.english-web, .french-web, .italian-web, .portoguese-web, .yiddish-web, 
.english-mobile-hero, .french-mobile-hero, .italian-mobile-hero, .portoguese-mobile-hero, .yiddish-mobile-hero
{ max-width: 100%; background-size: 100%; background-image: url('https://s3.eu-central-1.amazonaws.com/kantoo.main.web.site/homeMain/images/homepage.png'); }
 
.english-web { background-position: 0 0%; background-size: cover; }
.french-web { background-position: 0 11.336562%; background-size: cover; }
.italian-web { background-position: 0 22.673125%; background-size: cover; }
.portoguese-web { background-position: 0 34.009687%; background-size: cover; }
.yiddish-web { background-position: 0 45.34625%; background-size: cover; }
.english-mobile-hero { background-position: 0 56.453716%; background-size: 285.289747%; }
.french-mobile-hero { background-position: 0 67.340287%; background-size: 285.289747%; }
.italian-mobile-hero { background-position: 0 78.226858%; background-size: 285.289747%; }
.portoguese-mobile-hero { background-position: 0 89.113429%; background-size: 285.289747%; }
.yiddish-mobile-hero { background-position: 0 100%; background-size: 285.289747%; }

.sprite12 { background-position: 0 24.457143%; background-size: 735.714286%; }
.sprite10 { background-position: 0 29.391602%; background-size: 740.11976%; }
.sprite11 { background-position: 0 34.304484%; background-size: 740.11976%; }
.sprite13 { background-position: 0 39.217366%; background-size: 740.11976%; }
.sprite14 { background-position: 0 44.130249%; background-size: 740.11976%; }
.sprite15 { background-position: 0 49.043131%; background-size: 740.11976%; }
.sprite16 { background-position: 0 53.956013%; background-size: 740.11976%; }
.sprite17 { background-position: 0 58.868895%; background-size: 740.11976%; }
.sprite3 { background-position: 0 63.781777%; background-size: 740.11976%; }
.sprite4 { background-position: 0 68.694659%; background-size: 740.11976%; }
.sprite5 { background-position: 0 73.607541%; background-size: 740.11976%; }
.sprite6 { background-position: 0 78.520423%; background-size: 740.11976%; }
.sprite7 { background-position: 0 83.433305%; background-size: 740.11976%; }
.sprite8 { background-position: 0 88.346187%; background-size: 740.11976%; }
.sprite9 { background-position: 0 93.259069%; background-size: 740.11976%; }
.sprite18 { background-position: 0 95.4%; background-size: 1037.636364%; }


.contact-us, .join-us
{ max-width: 100%; background-size: 100%; background-image: url('https://s3.eu-central-1.amazonaws.com/kantoo.main.web.site/homeMain/images/sprite3.png');margin-bottom: 2%;}
 
.contact-us { background-position: 0px -1px; background-size: 100%;  padding: 2% 2%;margin: 0;}
.join-us { background-position: 0 100%; background-size: 103.330626%; text-align: center;}


#myCarousel2 .carousel-inner{
    overflow: hidden;
}

.displayFlex{
display: flex;
}

.appStore{
padding-left: 0px;
}

.phone{
    padding-right: 0px;
}

.carousel-control-prev, .carousel-control-next{
    color:#9359f1;
    font-size:10vh;;
    position:absolute;
    top: 0%;
    width: 0px;
}

.main .fa-angle-right{
    position: absolute;
    left: 11px;
}

.main .fa-angle-left{
    position: absolute;
    right: 11px;
}

.carousel-control-next{
    right: 0;
}

.carousel-control-prev{
    left: 0; 
}

.carousel-control-prev:hover, .carousel-control-next:hover{
    color:#9359f1;
}

.carousel-caption{
    position: absolute;
    font-family: Roboto;
    color: #ffffff;
    font-weight: 700;
    line-height: 1.2;
   font-size: 4vh;
}

.course{
    bottom: 6%;
}

.course span{
    white-space: nowrap;
}
.violetta{
    bottom: 3%;
}

.english{
    left: -8%;
    bottom: 6%;
}

.french{
    left: 32%;
    text-align: left!important;
}

.italian{
    left: 44%;
    text-align: left;
    bottom: 5%;
}

.hollywood{
    bottom: 4%;
    left: 27%;
    width: 33%;
}


.trivia{
    bottom: 13%;
    left: -9%;
    width: 70%;
}

.carousel-item h5{
    font-family: Roboto;
    color: #ffffff;
    font-weight: 500;
}

h5.webOnlyItalian{
    right: 3%;
    top: 42%;
    position: absolute;
}

h5.webOnlyFrench{
    right: 3%;
    top: 43%;
    position: absolute;
}

.spanish{
    bottom: 31%;
}

.carousel-text span{
    font-size: 1.876rem;/* Approximation due to font substitution */
}

.carousel-text p{
    font-size: 1.125rem;/* Approximation due to font substitution */
}

.carousel-text-mobile{
    font-family: Roboto;
    color:  #5a5a5a;
    text-align: left;
    font-weight: 300;
}

.carousel-text-mobile span{
    font-size: 1.4rem;/* Approximation due to font substitution */
    display: block;
    font-weight: 500;
}

.carousel-text-mobile p{
    font-size: 1.125rem;/* Approximation due to font substitution */
}

.join-us span{
    display: block;
    padding: 7%;
    font-family: Roboto;
    color: #ffffff;
    font-size: 1.794rem;
    font-weight: 300;
    width: 68%;
    margin: auto;
}

.jobs{
    padding: 0 0 0 2%;
}

.job{
    padding: 7px 0px;
}

.job a{
    font-family: Roboto;
    color: #5a5959;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: left;
}

.job i{
    color: #7821fd;
    font-size: 8px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0px;
    vertical-align: middle;
}

.displayNone{
    display: none!important;
}

.contact-us p, .contact-us label{
    font-family: 'Open Sans', sans-serif;
    color: #333333;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: left;
    margin-bottom: 0px;
}

.contact-us input, .contact-us textarea{
    border-style: none;
    border-radius: 0;
    line-height: 2.25;
}

.contact-p{
    margin-bottom: 3%;
}

.contact-us label{
    font-size: 1rem;
}

.social label{
    font-weight: 400;
}

.social i{
    color: #7a1fff;
    font-size: 50px;
    margin-right: 4%;
}

.contact-us button{
        background-color: #7a1fff;
    border-radius: 0;
    border-style: none;
    color: white;
    width: 20%;
}

.navbar-toggler>.close {
    display:inline;
    font-size: 4vh;
    color: #7a1fff;
}

.collapsed .close {
    display: none;
}

.navbar-toggler.collapsed>.close, .navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
    display:none;
}

.os img {
    margin: auto;
    display: block;
    width: 35%;
    display: none;
}

.contact-us {
    background-size: 104%;
}

.job_page{
    background-image: url('https://s3.eu-central-1.amazonaws.com/kantoo.main.web.site/homeMain/images/04_job.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.job_page .container{
    background-color: white;
    margin-top: 10%;
    padding: 1% 6%;
}

.job_page h2{
    color:  #7b1eff;
    font-size: 1.875rem;/* Approximation due to font substitution */
    text-align: left;
    font-weight: 400;
}

.job_description p{
    color:  #242333;
    font-size: 1.25rem;/* Approximation due to font substitution */  
}

.job_description .fa-ul{
    margin-left: 1.14285714em!important;      
}

.job_description li {
  font-size: 1.25rem;
  color:  #242333;
}

.job_description ul li i{
    top: 0.69em;
}

.submit_app{
    font-size: 1.5rem;
    color: #333333;
}

.job_description label{
    color:  #242333;
    font-size: 1.25rem;
    margin-bottom: 0px;
}

.job_description input{
    color:  #242333;
    font-size: 1.25rem;
}


.fa-asterisk{
    color: #7821fe;
    font-size: 12px;
}

.submit_app{
    margin-top: 5%;
}

.job_description button{
    margin-bottom: 1rem;
    border-radius: 0;
    color: white;
    background-color: #7821fe;
}

.job_description input, .job_description textarea{
    border-radius: 0;
    border-color: #7821fe;
    overflow: hidden;
    width: 100%;        
}

.job_description a{
    color:  #242333;
    font-size: 1rem;/* Approximation due to font substitution */
    font-weight: 400;
    text-decoration: underline;
    text-align: left;
}

label.btn.fileUpload{
    display: block;
    background-color: #d7d7d7;
    border-radius: 0;
}

.prefix{
    padding-right: 0;
}

.label-info{
    font-size: 0.7rem; 
    display: block;  
    min-height: 16px!important;
}

.hidden{
    display: none;
}

.fb_iframe_widget span{
    height: 35px!important;
}

.share{
    font-size: 1rem;
    margin-top: 2%;
    color: #242333;
}

#g-verification{
    -ms-transform: scale(1.23);
    -webkit-transform: scale(1.23);
    -moz-transform: scale(1.23);
    -o-transform: scale(1.23);
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform: scale(1.23);
    transform-origin: 0 0;
}

.error404 .background{
    background: url('https://s3.eu-central-1.amazonaws.com/kantoo.main.web.site/homeMain/images/404.jpg') no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-attachment: fixed;
    background-position: CENTER CENTER;
    height: 89vh;
}

.error404 footer{
    width: 100%;
    margin: 0;
}

.errorText{
    margin-top: 9%;
    margin-bottom: 1%;
}

.error404 h4{
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}

.error404 h1{
    font-family: Roboto;
    color: #f5f5f5;
    font-size: 3.5rem;
    font-weight: 400;
    text-align: left;
    margin: 0;
}

.goback{
    background-color: #7a1fff;
    border-radius: 0;
    border: 2px solid #7a1fff;
    color: white;
    margin-right: 1%;
    font-size: 1rem;
    width: 216px;
}

.goback a, .goback a:hover{
    color: white;
    text-decoration: none;
}

.report{
    background-color: #ffffff3b;
    border-radius: 0;
    border: 2px solid #ffffff;
    color: white;
    font-size: 1rem;
    width: 216px;
}

#recaptcha-info{
    margin-top: 4%;
}

#message{
    line-height: 1.6;
}

.job_page .nocaptcha{
    padding-left: 0px;
}

.socialLinkDivUp{
    display: none;
}

#recaptcha-info2{
    top: 122%;
    position: absolute;
}

.error{
    color: red!important;
}

#job_title{
    visibility: hidden;
    height: 0px;
}

.navbar-inverse .navbar-nav .nav-link:focus, .navbar-inverse .navbar-nav .nav-link:hover, .navbar-inverse .navbar-nav .nav-link:active {
    color: #7a1fff!important;
}

footer{
    padding: 2% 0 1% 0;
}

.privacyLink{
    padding: 1% 0 3% 5%!important;
}

.privacyLink a, .privacyLink a:active, .privacyLink a:hover, .privacyLink a:focus{
    color: #9b9b9d!important;
}

.privacy h1{
    padding: 4% 0 2% 0;
}

.privacy p, .privacy ol, .privacy ul{
    font-size: 1.25rem;
}

.privacy ol, .privacy ul{
    padding-left: 27px;
}

.privacy h3{
    text-decoration: underline;
    font-weight: 500;
    color: #7a1fff;
    font-size: 1.5rem;
    margin: 1% 0 0.5% 0;
}

.privacy nav{
    /* box-shadow: -1px 20px 9px 4px rgb(255,255,255), inset 0 25px 65px -22px rgba(187,181,181,.75); */
    -webkit-box-shadow: 0px 24px 30px -10px rgba(50, 50, 50, 0.18);
    -moz-box-shadow: 0px 24px 30px -10px rgba(50, 50, 50, 0.18);
    box-shadow: 0px 24px 30px -10px rgba(50, 50, 50, 0.18);
}

#privacyWrapper{
    padding: 0 5%;
}

.partnerLogo{
    padding: 4px 0px!important;
}

body .userway.userway_p3 {
        right: 30px!important;
        bottom: 20px!important;
        left: auto!important;
        margin-bottom: 5px;
}

.nav-link-disabled{
    font-size: 1.125rem;
    color: #6f6e6e!important;
    font-weight: 700;
    margin-top: 10px;
    padding-left: 1.5rem;
}

.products{
    position: relative;
}

.alignCenter{
    text-align: center!important;
}

.alignLeft{
    text-align: left!important;
}

.image2-web-violetta, .image2-web-violetta-es, .image2-disney, .image2-web-hlwd, .image3-violetta, 
.image2-mobile-violetta, .image2-mobile-violetta-es, .image2-mobile-hlwd, .image1-english, .image1-english-es, 
.image1-italian, .image1-french, .image1-french-es, .image2-english, .image2-english-es, 
.image2-french, .image2-french-es, .image1-mobile-hlwd, .image2-italian, .image1-spanish, 
.image2-spanish, .image1-web-hlwd, .image1-violetta, .image1-disney, .image2-violetta
{ max-width: 100%; background-size: 100%; background-image: url('https://s3.eu-central-1.amazonaws.com/kantoo.main.web.site/homeMain/images/product_page.png'); }
 
.image2-web-violetta { background-position: 0 0%; background-size: 100%; }
.image2-web-violetta-es { background-position: 0 2.949081%; background-size: 100%; }
.image2-disney { background-position: 0 6.019922%; background-size: 107.511737%; margin-top: 3%;}
.image2-web-hlwd { background-position: 0 10.941059%; background-size: 125.686059%; }
.image3-violetta { background-position: 0 14.687724%; background-size: 156.207367%; }
.image2-mobile-violetta { background-position: 0 18.88779%; background-size: 161.723164%; }
.image2-mobile-violetta-es { background-position: 0 21.749576%; background-size: 161.723164%; }
.image2-mobile-hlwd { background-position: 0 24.991031%; background-size: 167.397661%; }
.image1-english { background-position: 0 29.552002%; background-size: 185.876623%; }
.image1-english-es { background-position: 0 34.399309%; background-size: 185.876623%; }
.image1-italian { background-position: 0 39.224014%; background-size: 188.322368%; }
.image1-french { background-position: 0 43.991941%; background-size: 189.569536%; }
.image1-french-es { background-position: 0 48.733631%; background-size: 189.569536%; }
.image2-english { background-position: 0 53.306556%; background-size: 201.584507%; }
.image2-english-es { background-position: 0 57.717688%; background-size: 201.584507%; }
.image2-french { background-position: 0 62.119908%; background-size: 203.014184%; }
.image2-french-es { background-position: 0 66.516064%; background-size: 203.014184%; }
.image1-mobile-hlwd { background-position: 0 71.881361%; background-size: 203.736655%; }
.image2-italian { background-position: 0 76.634643%; background-size: 203.736655%; }
.image1-spanish { background-position: 0 81.093885%; background-size: 209.323583%; }
.image2-spanish { background-position: 0 85.310532%; background-size: 213.619403%; }
.image1-web-hlwd { background-position: 0 89.506084%; background-size: 225.838264%; }
.image1-violetta { background-position: 0 92.131747%; background-size: 239.539749%; }
.image1-disney { background-position: 0 97.667151%; background-size: 247.300216%; }
.image2-violetta { background-position: 0 100%; background-size: 270.04717%; }
}

.productPage .container{
    padding-top: 1%;
}

.englishProduct{
    position: absolute;
    top: 43%;
    left: -44%;
}

.productTitle{
    font-family: Roboto;
    /*font-size: 3rem;*/
    font-weight: 700;
}

.englishTitle{
    color:  #593274;
    text-align: left;
}

.spanishTitle{
    color: #9c0404;
    text-align: left;
}

.frenchTitle{
    color: #002393;
    text-align: left;
}

.italianTitle{
    color: #005e18;
    text-align: left;
}

.disneyTitle{
    color: #412884;
    text-align: left;
}

.hlwdTitle{
    color: #9b690a;
    text-align: left;
}

.violettaTitle{
    color: #01aed8;
    text-align: left;
}

.englishP{
    padding-top: 9%;
}

.spanishP{
    padding-top: 5%;
}

.hlwdP{
    padding-top: 4%;
}

.violettaP{
    align-self: flex-end;
    padding-bottom: 2%;
}

.productDescription, .nextPrevious a{
    font-size: 1.2rem;
    line-height: 1.2;
    color: #5a5a5a;
    font-weight: 400;
    font-family: Roboto;
}

.bottomBanner{
    color: white;
    text-align: center;
    padding: 6%;
    top: -47px;
    position: relative;
    z-index: -5;
}

.banner_english{
    background-color: #593274;
}

.banner_spanish{
    background-color: #9c0404;
}

.banner_italian{
    background-color: #005e18;
}

.banner_french{
    background-color: #002393;
}

.banner_disney{
    background-color: #412884;
    top: -65px;
}

.banner_hlwd{
   background-color: #b98107;
    top: -31px;
    margin-bottom: 0%;
}

.banner_violetta{
    background-color: #644d79;
}

.bottomBanner span{
    margin: auto;
    font-size: 2.2rem;
}

.promotionalBanner{
    display: none;
    cursor: pointer;
}

#appleClass{
    display: none;
}

.storeBanners{
    margin: 0 auto;
    display: inherit;
}

.violettaApp{
    margin: 5% 0 0 0;
}

.violettaApp .promotionalBanner{
    margin-top: 5%;
}

.productPage .fa-angle-right, .productPage .fa-angle-left{
    font-size: 3rem;
    vertical-align: middle;
    margin-bottom: 7px; 
}

.productPage .angle-english .fa{
    color: #593274;
}

.productPage .angle-spanish .fa{
    color: #9c0404;
}

.productPage .angle-italian .fa{
    color: #005e18;
}

.productPage .angle-french .fa{
    color: #002393;
}

.productPage .angle-disney .fa{
    color: #412884;
}

.productPage .angle-hlwd .fa{
    color: #b98107;
}

.productPage .angle-violetta .fa{
    color: #644d79;
}

.productPage .fa-angle-left{
    margin-right: 13px;   
}

.productPage .fa-angle-right{
    margin-left: 13px;   
}

.nextPrevious{
    padding: 0 3%;
}

.disneyP{
    align-self: flex-end;
    padding-bottom: 0%;
    margin-left: -3%;
}

.hlwdDesc{
    position: absolute;
    right: 17%;
    top: 36%;
}

.violettaDesc p{
    text-align: center;
    margin-top: 5%;
}

.productPage .playNow{
    margin: auto;
    display: block;
    padding: 1.2rem 4rem;
    font-size: 1.25rem;
    border-radius: .8rem;
    color: white;
    margin-bottom: 10%;
    cursor: pointer;
}

.violettaDesc button{
    background-color: #d60054;
}

.spanishButton button{
    background-color:  #2aaed4;
    margin: auto;
}

.violetta2P{
    position: absolute;
    top: -5%;
    left: 79%
}

.violetta3P {
    position: absolute;
    top: 10%;
    left: 79.5%;
}

.violettaFigures{
    margin-top: -13%;
}

.productCover{
    position: relative;
}

.productCover .english-cover-title{
    position: absolute;
    bottom: 22%;
    left: 13%;
    text-align: center;
}

.productCover span{
    color: white;
    font-size: 3rem;
    font-weight: 600;
    line-height: 3rem;
}

.productCover .violetta-cover-title{
    position: absolute;
    bottom: 10%;
    left: 39%;
}

.productCover .hlwd-cover-title{
    position: absolute;
    bottom: 10%;
    left: 30%;
    text-align: center;
}

.productCover h2{
    color: #ffffff;
    font-size: 1.787rem;
    font-weight: 500;
    margin-bottom: 3%;
}

.productCover .disney-cover-title{
    position: absolute;
    bottom: 11%;
    width: 76%;
    text-align: center;
}

.productCover .spanish-cover-title{
    position: absolute;
    bottom: 35%;
    width: 80%;
    text-align: center;
    margin-left: 10%;
}

.productCover .italian-cover-title{
   position: absolute;
    bottom: 7%;
    left: 40.3%;
    background-color: rgba(39, 27, 40, 0.58);
    padding: 2% 3% 1.5% 3%;
}

.productCover .italian-title-web{
    position: absolute;
    right: 4%;
    bottom: 48%;
}

.productCover .FR{
    left: 25%!important;
}

.angle-cover-left{
    position: absolute;
    top: 50%;
    left: 2%;
    color: white;
}


.angle-cover-right{
    position: absolute;
    top: 50%;
    right: 2%;
    color: white;
}

.second-nav{
    padding-top: .5rem;
}

.langLi{
    padding-bottom: .4rem;
}

.languages{
    border-style: none!important;
}

.languages .nav-link{
    margin-top: 0px;
    padding-top: 0px;
}

.disneyBtn{
    margin-bottom: 0px!important;
}

.productPage video{
    margin: 5% 0;
}

.carousel-item {
    -webkit-transition-duration: 1.5s;
    -moz-transition-duration: 1.5s;
    -o-transition-duration: 1.5s;
    transition-duration: 1.5s;
}

.topContainer{
    padding-top: 3%;
}

.topContainer .en-banners, .topContainer .es-banners, .topContainer .pt-banners{
    padding-bottom: 2%;
}

.second-nav{
    cursor: pointer!important;
}

.disney-cover, .english-cover-es, .english-cover, .french-cover-es, .french-cover, 
.hollywood-cover, .italian-cover, .spanish-cover, .violetta-cover-es, .violetta-cover, 
.disney-mobile, .english-mobile-es, .english-mobile, .french-mobile-es, .french-mobile, 
.hollywood-mobile, .italian-mobile, .spanish-mobile, .violetta-mobile-es, .violetta-mobile, 
.en-google, .pt-google, .sp-google, .en-apple, .pt-apple, 
.sp-apple
{ max-width: 100%; background-image: url('https://s3.eu-central-1.amazonaws.com/kantoo.main.web.site/homeMain/images/product-cover.png');} 

.disney-cover { background-position: 0 0%;    background-size: cover;}
.english-cover-es { background-position: 0 5.246079%;    background-size: cover;}
.english-cover { background-position: 0 10.492158%;    background-size: cover;}
.french-cover-es { background-position: 0 15.738237%;    background-size: cover;}
.french-cover { background-position: 0 20.984316%;    background-size: cover;}
.hollywood-cover { background-position: 0 26.230395%;    background-size: cover;}
.italian-cover { background-position: 0 31.476474%;    background-size: cover;}
.spanish-cover { background-position: 0 36.722553%;    background-size: cover;}
.violetta-cover-es { background-position: 0 41.968632%;    background-size: cover;}
.violetta-cover { background-position: 0 47.214711%;    background-size: cover;}
.disney-mobile { background-position: 0 52.338129%; background-size: 285.289747%; }
.english-mobile-es { background-position: 0 57.338129%; background-size: 285.289747%; }
.english-mobile { background-position: 0 62.338129%; background-size: 285.289747%; }
.french-mobile-es { background-position: 0 67.338129%; background-size: 285.289747%; }
.french-mobile { background-position: 0 72.338129%; background-size: 285.289747%; }
.hollywood-mobile { background-position: 0 77.338129%; background-size: 285.289747%; }
.italian-mobile { background-position: 0 82.338129%; background-size: 285.289747%; }
.spanish-mobile { background-position: 0 87.338129%; background-size: 285.289747%; }
.violetta-mobile-es { background-position: 0 92.338129%; background-size: 285.289747%; }
.violetta-mobile { background-position: 0 97.338129%; background-size: 285.289747%; }
.en-google { background-position: 0 97.8888%;}
.pt-google { background-position: 0 98.314124%;}
.sp-google { background-position: 0 98.744194%;}
.en-apple { background-position: 0 99.162892%;}
.pt-apple { background-position: 0 99.581446%;}
.sp-apple { background-position: 0 100%;}

.spaceDiv{
    display: block;
    min-height: 50px;
}

.pictureEN, .pictureES, .en-banners, .pt-banners, .es-banners{
    display: none;
}

.en-banners, .pt-banners, .es-banners{
    margin: auto;
    text-align: center;
    cursor: pointer;
}

.label-info{
    min-height: 16px;
}


/************** MEDIA QUERIES **************/

@media only screen and (max-width: 1700px) {
    .productCover .english-cover-title {
        bottom: 25%;
        left: 9%;
    }

    .productCover .violetta-cover-title{
        left: 38%;
    }

    .productCover .disney-cover-title {
        /*left: 26%;*/
    }

    .productCover .spanish-cover-title{
        bottom: 33%;
        /*left: 40%;*/
    }

    .productCover .italian-cover-title {
        
    }
}

@media only screen and (max-width: 1500px) {
    .productCover .spanish-cover-title {
        bottom: 31%;
        /*left: 38%;*/
    }  

     .productCover .disney-cover-title {
        bottom: 11%;
    }   
}

@media only screen and (max-width: 1350px) {
    .productCover .english-cover-title {
        bottom: 25%;
        left: 7%;
    }

    .productCover span {
        font-size: 2.5rem;
    }

    .productCover .violetta-cover-title {
        left: 36%;
        bottom: 5%;
    }

    .productCover .hlwd-cover-title {
        bottom: 10%;
        left: 26%;
    }

    .productCover .disney-cover-title {
        /*left: 24%;*/
    }

    .productCover .spanish-cover-title {
        bottom: 29%;
        /*left: 37%;*/
    }

    .productCover .italian-cover-title {
        bottom: 4%;
    }

    .productCover .italian-title-web {
        right: 3%;
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 1280px) {
    .carousel-text {
    top: -240px;
    }

    .caption {
    font-size: 3.8rem;
    }

    .quote{
        font-size: 2.3rem;
    }

    .carouselCaption{
       width: 686px;
    }
}

@media only screen and (max-width: 1200px) {
    .carousel-text {
    top: -195px;
    }

    .contact-us input, .contact-us textarea {
        line-height: 1.8;
    }

    .contact-p {
        margin-bottom: 1%;
    }

    .social{
        padding: 0;
    }

    #g-verification{
        -ms-transform: scale(1.017);
        -webkit-transform: scale(1.017);
        -moz-transform: scale(1.017);
        -o-transform: scale(1.017);
        transform: scale(1.017);
    }

    #description{
        line-height: 2.2;
    }

    #recaptcha-info{
        margin-top: 0
    }

    .contact-us {
    background-size: 107%;
    }

    .error404 h1{
        font-size: 3.5rem;
    }

    .errorText{
        margin-top: 14%;
        
    }

    #recaptcha-info2 {
        top: 104%;
    }

    .partnerLogo{
        padding: 3px 8px!important;
    }

    .caption {
        font-size: 3.5rem;
    }

    .quote{
        font-size: 2rem;
    }

    .carouselCaption{
       width: 595px;
    }

    .italian {
        bottom: 3%;
    }

    .spanish {
        bottom: 29%;
    }

    .violetta{
        bottom: 0%;
    }

    .hollywood {
        bottom: 4%;
        left: 16%;
        width: 60%;
    }

    .english{
        bottom: 7%;
    }

    h5.webOnly {
    right: 4%;
    }

    .bottomBanner.banner_english{
        top: -84px;
    }

    .image2-english{
        margin-bottom: 5%;
    }

    .disneyP {
        padding-bottom: 0%;
        margin-left: -7%;
    }

    .hlwdDesc{
        right: -2%;
    }

    .banner_hlwd{
        margin-bottom: -1%;
    }

    .violetta2P {
        right: -1%;
        padding: 0;   
     }

    .violetta3P {
        position: absolute;
        left: 77%;
    }

    .productCover .violetta-cover-title {
        left: 35%;
    }

    .productCover .disney-cover-title {
       /* left: 23%;*/
        bottom: 6%;
    }

    .productCover .spanish-cover-title {
        bottom: 32%;
        /*left: 36%;*/
    }

    .productCover h2 {
        font-size: 1.5rem;
        margin-bottom: 2%;
    }

    .productCover .italian-title-web {
        font-size: 1.3rem;
    }
}
@media only screen and (max-width: 1090px) {
    .carousel-text {
        top: -164px;
    }

    .carousel-text span {
        font-size: 1.7rem;
    }

    .carousel-text p {
        font-size: 1rem;
    }

    .productCover .english-cover-title {
        bottom: 21%;
        left: 6%;
    }

    .productCover span {
        color: white;
        font-size: 2.5rem;
    }

    .productCover .spanish-cover-title {
        bottom: 27%;
    }

    .productCover .italian-title-web {
        right: 2%;
        top: 31%;
    }
}

@media only screen and (max-width: 991px) {
    .statisticsInfo p {
        font-size: 1.7rem;
    }

    span.statistics {
        font-size: 4.889rem;
    }

    .second-nav .nav-link{
        padding-left: 1.5rem;
    }

    #lang-pt, #lang-es{
        padding-left: 8px;
    }

    .nav-item{
        border-bottom: 1px solid rgba(122, 31, 255, .5);
    }

    #navbar-example li:last-child{
        border-bottom: 4px solid rgba(122, 31, 255, .5);
    }

    .bg-inverse {
        justify-content: baseline;
    }

    .navbar-inverse .navbar-toggler {
        margin-top: 2%;
    }
    
    .carousel-text {
        top: -266px;
        width: 200%;
    }

    .join-us span {
    padding: 5%;
    font-size: 1.4rem;
    }

    .job, .job a{
        font-family: Roboto;
        color: #5a5959;
        font-size: 1rem;
        font-weight: 600;
        text-align: left;
        padding: 7px 0px;
    }

    .jobs {
        padding: 0 0 0 4%;
    }

    .banner-mobile{
            border-bottom: 4px solid rgba(122, 31, 255, .5);
        height: 4px;
    }

    .contact-us p, .contact-us label{
        font-size: 0.9rem;
    }

    .form-group{
        margin-bottom: 0px;
    }

    .contact-us input, .contact-us textarea {
    line-height: 1;
    }

    .social i {
    font-size: 36px;
    }

    .social{
        padding: 0px;
    }

    .job_description button{
        margin-bottom: 0;
    }

    .job_description input{
        line-height: 1;
        overflow: hidden;
        width: 100%;
    }

   #g-verification{
        -ms-transform: scale(0.725);
        -webkit-transform: scale(0.725);
        -moz-transform: scale(0.725);
        -o-transform: scale(0.725);
        transform: scale(0.725)!important;
    }

    .nocaptcha{
        padding-top: 7%;
    }

     #description{
        line-height: 1.7;
    }

    .contact-us {
        background-size: 117%;
    }

    body{
        padding-top: 70px;
    }

    .bg-inverse {
        background-color: rgb(255,255,255)!important;
    }

     .fixed-top {
        background-color: rgb(255,255,255)!important;
    }


    #recaptcha-info{
        margin-top: -10%;
        margin-bottom: 4%;
    }

    .goback{
        margin-bottom: 4%;
    }

    .collapse.show {
        padding-bottom: 83%;
    }

    #recaptcha-info2 {
        top: 82%;
    }

    .languages{
        visibility: hidden;
    }

    .carousel-caption {
    font-size: 2.8vh;
    }

    .products{
     padding:   0 6%;
    }

    .italian {
        bottom: 5%;
    }

    .englishP{
        padding-bottom: 0;
    }

    .bottomBanner {
        top: 0;
        margin-top: 5%;
    }

    .banner_violetta{
        margin-top: -3%;
    }

    .promotionalBanner{
        margin-top: 5%;
    }

    .disneyP {
        padding-bottom: 0%;
        margin-left: -1%;
    }

    .hlwdDesc{
        right: -3%;
        top: 35%;
    }

    .productTitle.violettaTitle{
        font-size:  1.9rem;
    }

    .violetta2P {
        left: 98%;
        top: -8%;
        padding: 0;
    }

    .violetta3P {
        top: 11%;
        left: 399px;
    }

    .banner_hlwd{
        margin-bottom: 3%;
        margin-top: 0%;
    }

    .violettaFigures {
        margin-top: 3%;
        display: flex;
    }

    .violettaFigures img{
        margin: auto;
    }

    .violettaApp{
        display: flex;
    }

    .violettaApp img{
        margin: auto;
    }

    .violettaApp .promotionalBanner{
        width: 100%;
    }

    .violettaApp a{
        margin: auto;
    }

    .violettaDesc button{
        margin-bottom: 14%;
    }

    .productCover span {
        font-size: 2rem;
        line-height: 2rem;
    }

    .bottomBanner.banner_english {
        top: -13px;
    }

    .productCover .violetta-cover-title {
        left: 37%;
    }

    .productCover .disney-cover-title {
        /*left: 25%;*/
        bottom: 7%;
    }

    .productCover .italian-title-web {
        font-size: 1rem;
        right: 4%;
    }

    .disneyBtn {
        margin-top: 3%!important;
        margin-bottom: 0!important;
    }

    h5.webOnlyFrench {
        right: 1%;
    }

    .carousel-caption h5{
        font-size: 1rem;
    }

    .en-google { background-position: 0 97.8888%; background-size: 771.084337%; }
    .pt-google { background-position: 0 98.314124%; background-size: 771.084337%; }
    .sp-google { background-position: 0 98.744194%; background-size: 771.084337%; }
    .en-apple { background-position: 0 99.162892%; background-size: 893.023256%; }
    .pt-apple { background-position: 0 99.581446%; background-size: 893.023256%; }
    .sp-apple { background-position: 0 100%; background-size: 893.023256%; }
}

@media only screen and (max-width: 880px) {
    .carousel-text {
        top: -224px;
        width: 253%;
    }

    .caption {
        font-size: 3rem;
    }

    .quote{
        font-size: 1.8rem;
    }

    .carouselCaption{
       width: 526px;
    }

    .italian {
        bottom: 4%;
    }

    .english {
        bottom: 4%;
    }

    .productCover .english-cover-title {
        bottom: 19%;
        left: 5%;
    }

    .productCover .violetta-cover-title {
        left: 34%;
    }

    .productCover .hlwd-cover-title {
        bottom: 7%;
        left: 25%;
    }

    .productCover .disney-cover-title {
       /* left: 23%;*/
        bottom: 4%;
    }

    .productCover .spanish-cover-title {
     /*   left: 36%;*/
        bottom: 26%;
    }

    .productCover .italian-title-web {
        right: 3%;
    }
}

@media only screen and (max-width: 830px) {
    .statisticsInfo p {
        font-size: 1.3rem;
        margin-top: -18px;
    }

    span.statistics {
        font-size: 3.889rem;
    }
}

@media only screen and (max-width: 767px){
    .contact-us .btn{
        margin-top: 4%;
    }

    .contact-us {
        background-size: 178%;
    }

    .social i {
        margin: 4% 2% 0 2%;
    }

    .social{
        text-align: center;
    }

    .job_page h2 {
        font-size: 1.6rem;
    }

    .job_description p, .job_description li, .job_description label, .job_description input{
        font-size: 1rem;
    }

    .job_description button {
        margin: 5% 0;
    }

    .job_description a{
        font-size: 1rem;
    }

    .job_page{
        background-color: white;
        background-image: none;
        width: 100!important;
    }

    .job_page img{
        width: 100%;
    }

    .job_page .container{
        padding: 0 3%;
    }

    #description {
    line-height: 1.44; 
    }

    .carousel-indicators{
        display: none;
    }

    .socialLinkDivUp{
        display: block;
        padding: 0;
    }

    .socialLinkDiv{
        display: none;
    }

    .nocaptcha {
        padding-top: 3%;
    }

    .join-us span{
        width: 100%;
    }

    .privacy h1{
        font-size: 2rem;
    }

    .privacy p, .privacy ol, .privacy ul {
        font-size: 1rem;
    }

    .privacy h3 {
        font-size: 1.3rem;
        margin: 2% 0 2.5% 0;
    }

    .caption {
        font-size: 3.8rem;
    }

    .course {
        left: 15%;
        bottom: 63%;
        width: 73%;
    }

    .carousel-caption {
        font-size: 4vh;
    }

    .products {
        padding: 0 10%;
    }

    .french {
        text-align: center!important;
    }

    .italian {
        text-align: center;
        top: 22%;
    }

    .spanish{
        top: 20%;
        width: 69%;
    }

    .english{
        left: 13%;
    }

    .violetta{
        left: 0%;
        bottom: 37%;
        width: 63%;
    }

    .hollywood{
        top: 25%;
    }

    .productPicture{
        order: 2;
    }

    .bottomBanner span{
        font-size: 1.5rem;
    }

    .storeBanners img{
        margin: 5% 0 0 0;
    }

    .hlwdDesc{
        padding: 0;
        position: initial;
        margin-top: 3%;
    }

    .banner_hlwd {
        margin-bottom: 0;
    }

    .img1{
        order: 2;
        margin-bottom: 5%;
    }

    .img2{
        order: 3;
    }

    .violettaDesc button{
        padding: .7rem 2rem;
    }

    .violetta3P{
        position: initial;
    }

    .productCover .english-cover-title {
        top: 25%;
        width: 80%;
        margin-left: 10%;
        text-align: center;
        left: 0;
    }

    .productCover .violetta-cover-title {
        left: 11%;
        bottom: 40%;
    }

    .productCover .hlwd-cover-title {
        top: 28%;
        left: 0;
        width: 80%;
        margin-left: 10%;
        text-align: center;
    }

    .productCover .disney-cover-title, .productCover .italian-cover-title , .FR {
        top: 17%;
        width: 84%;
        margin-left: 8%;
        left: 0!important;
        text-align: center;
    }

    .italian-cover-title h2{
        margin-bottom: 4%;
    }

    .productCover .spanish-cover-title, .productCover .italian-cover-title {
        top: 21%;
        background: none;
    }

    .banner_violetta {
        margin-top: -7%;
    }

    .productCover h2 {
        margin-bottom: 0%;
    }

    body {
        padding-top: 81px;
    }

    .carousel-caption h5 {
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 750px) {
    .carousel-text {
        top: -179px;
    }

    .carousel-text span {
    font-size: 1.2rem;
    }

    .carousel-text p {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 660px) {
    .carousel-text {
        top: -151px;
    }

    body {
        padding-top: 67px;
    }

    .navbar-inverse .navbar-toggler {
    margin-top: 1%;
    }

    .navbar{
        padding: .25rem 1rem;
    }

    body{
        padding-top: 50px;
    }

    .error404 h1{
        font-size: 2.5rem;  
    }

    .error404 h4{
        font-size: 1.3rem;  
    }

    .errorText {
        margin-top: 24%;
    }

    .carousel-caption {
        font-size: 2.5vh;
    }

    .english{
        bottom: 61%;    
    }

    .productCover .spanish-cover-title{
        /*left: 29%;*/
        top: 18%;
    }

    .spanish-cover-title h2, .productCover .italian-cover-title h2{
         margin-bottom: 3%;
    }

    .productCover .italian-cover-title {
        top: 19%;
    }

    .productCover .FR{
        top: 15%;
    }

    .banner_violetta {
        margin-top: -11%;
    }

    .violettaFigures {
        margin-top: -5%;
    }

    .productPage .playNow{
        padding: .7rem 2rem!important;
        font-size: 1rem!important;
    }

}


@media only screen and (max-width: 600px) {
    .statisticsInfo p {
        font-size: 1.2rem;
        margin-top: -12px;
    }

    span.statistics {
        font-size: 2.889rem;
    }

    h1{
        font-size: 2.3rem;
    }

    h2{
        font-size: 1.6rem;  
    }

    .carousel-text {
    top: -130px;
    }
}

@media only screen and (max-width: 576px) {
    .phone{
        padding-left: 0px;
    }

    h1, h2{
        text-align: left;
    }

    .carousel-text-mobile{
        display: block;
    }

    #myCarousel2 .carousel-inner {
         border: none;
    }

    .contact-us {
        background-size: 297%;
    }

    .job_page h2 {
        font-size: 1.4rem;
    }

    .nocaptcha {
        padding-top: 4%;
    }

    .navbar-inverse .navbar-toggler {
        margin-top: 2.5%;
    }

   .privacy h1 {
        padding: 9% 0 2% 0;
        font-size: 1.8rem!important;
    }

    #recaptcha-info{
        margin-top: -20px;
        margin-bottom: -1%;
    }

    .goback{
        margin-top: 4%;
    }

    .contact-us .btn {
        margin-top: 3%;
        margin-bottom: 3%;

    }

    .g-verification{
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9)!important;
    }

    .quote {
        font-size: 1.3rem;
    }   

    .carouselCaption {
        width: 90%;
    }

    .carousel-control-prev, .carousel-control-next {
        font-size: 8vh;

    }

    .hollywood {
        top: 23%;
    }

    .trivia{
        bottom: 61%;
    }

    .storeBanners img{
        width: 80%;
        margin: 10% 10% 0 10%;
    }

      .productCover .english-cover-title {
        top: 25%;
    }

    .productPage{
        padding-top: 80px;
    }

    .productCover h2{
        text-align: center;
        margin-bottom: 2%;
    }

    .productCover br{
        display: block;
        content: "";
        margin-top: -9px;
    }

    .productCover .spanish-cover-title{
        top: 18%;
    }

    .productCover .italian-cover-title{
        top: 19%;
    }

    .productCover .FR{
        top: 14%;
    }

    .banner_violetta {
        margin-top: -10%;
    }

    .violettaFigures {
        margin-top: -4%;
    }
}

@media only screen and (max-width: 530px){
    .navbar {
        padding: .25rem 1rem;
    }

    .english {
        bottom: 59%;
    }

    .italian {
        top: 19%;
    }

    .spanish{
        top:17%;
    }

    .englishTitle{
        font-size: 2rem;
    }

    .productTitle{
        /*font-size: 2.5rem;*/
    }

    .productCover .english-cover-title {
        top: 24%;
    }

    .productCover span {
        font-size: 1.7rem;
    }

    .productCover .violetta-cover-title {
        left: 10%;
        bottom: 39%;
    }

    .productCover .hlwd-cover-title {
        top: 26%;
    }

    .bottomBanner span {
        font-size: 1.3rem;
        padding: 0px 11px;
    }

    .banner_violetta {
        margin-top: -13%;
    }

    .productPage {
        padding-top: 71px;
    }

    .violettaApp .promotionalBanner {
        margin-top: -15%;
    }
}

@media only screen and (max-width: 460px) {
    .statisticsInfo p {
        font-size: 1.2rem;
        margin-top: -8px;
        line-height: 1.2;
    }

    span.statistics {
        font-size: 2.3rem;
    }

    h1{
        font-size: 2rem;
    }

    h2{
        font-size: 1.5rem;  
    }

    .navbar-inverse .navbar-toggler {
    margin-top: 1%;
    }

    .carousel-text-mobile p {
        font-size: 1rem;
    }   

    .carousel-text-mobile span {
        font-size: 1.2rem;}


    .contact-us textarea {
        line-height: 1.3;
    }

    .contact-us input {
        line-height: .8;
    }

    .contact-us {
        background-size: 347%;
    }


    .navbar-inverse .navbar-toggler {
        margin-top: 1.5%;
    }

    .send{
        bottom: 20px;
    }

    .privacy h1 {
        padding: 12% 0 2% 0;
        font-size: 1.5rem!important;
    }

    .caption {
        font-size: 3.4rem;
    }

    .carousel-item h5{
        font-size: 1rem;
    }

    .productPage .fa-angle-left {
        margin-right: 5px;
    }

    .productPage .fa-angle-right {
        margin-left: 5px;
    }

    .nextPrevious a{
        font-size: 1rem;
    }

    .nextPrevious {
        margin-top: 3%;
    }

    .productCover .english-cover-title {
        top: 23%;
    }

    .productCover .hlwd-cover-title {
        top: 26%;
    }

    .productCover h2 {
        font-size: 1.3rem;
    }

    .productCover .disney-cover-title {
        top: 15%;
    }

    .banner_violetta {
        margin-top: -19%;
    }

    .productPage {
        padding-top: 66px;
    }

    .promotionalBanner {
        width: 66%;
    }

    .violettaApp img{
        width: 66%!important;
        margin-top: 0!important;
    }

    .spanish-cover-title h2, .productCover .italian-cover-title h2 {
        margin-bottom: 1%;
    }
}

@media only screen and (max-width: 400px){
    .contact-us {
    background-size: 418%;
    }

    .contact-us button{
        width: 30%;
    }

    .navbar-inverse .navbar-toggler {
        margin-top: 1%;
    }

    .navbar {
        padding: .15rem 1rem;
        min-height: 50px;
    }

    body {
        padding-top: 46px;
    }

    #g-verification {
        -ms-transform: scale(0.81)!important;
        -webkit-transform: scale(0.81)!important;
        -moz-transform: scale(0.81)!important;
        -o-transform: scale(0.81)!important;
        transform: scale(0.81)!important;
        float: left;
    }

    .send {
        bottom: 42px;
    }

    #recaptcha-info {
        position: absolute;
        bottom: -72px;
    }

    #recaptcha-anchor-label{
        font-size: 18px!important;
    }

    .error404 h4 {
        font-size: 1.2rem;
    }

    .error404 h1 {
        font-size: 2rem;
    }

    .goback {
        width: 210px;
        font-size: .9rem;
    }

    .report {
        width: 210px;
        font-size: .9rem;
    }

    #navbarCollapse{
        padding-top: 25px;
    }

    #recaptcha-info2 {
        top: 520%;
        position: absolute;
    }

    .caption {
        font-size: 3rem;
    }

    .quote {
        font-size: 1rem;
    }

    .caption {
        font-size: 2.5rem;
    }

    .french{
        bottom: 60%;
    }

    .productPage .fa-angle-right, .productPage .fa-angle-left {
        font-size: 1.5rem;
        margin-bottom: 5px;
    }

   .productCover span {
        font-size: 1.5rem;
        line-height: 1rem;
    }

    .productCover .english-cover-title {
        top: 22%;
    }

    .productCover h2{
        margin-bottom: 0%;
    }

    .productCover span{
        font-size: 1.3rem;
    }

    .productCover br {
        margin-top: -17px;
    }

    .productPage {
        padding-top: 47px;
    }

    .banner_violetta {
        margin-top: -24%;
    }

    .violettaFigures {
        margin-top: -19%;
    }

    /*.carousel-caption {
        font-size: 2vh;
    }*/

    footer{
        font-size: .9rem;
    }
}

@media only screen and (max-width: 333px) {
    .statisticsInfo p {
        font-size: 1rem;
    }

    span.statistics {
        font-size: 1.8rem;
    }

    h1{
        font-size: 1.8rem;
    }

    h2{
        font-size: 1.4rem;  
    }

    body {
        padding-top: 43px;
    }

    .contact-us {
        background-size: 476%;
    }

    #recaptcha-info2 {
        top: 582%;
    }

    .italian {
        top: 16%;
    }

    .french{
        top: 11%;
    }

    .english {
        top: 11%;
    }

    .hollywood {
        top: 20%;
    }

    .trivia {
        bottom: 57%;
    }

    .spanish {
        top: 15%;
    }

    .nextPrevious{
        padding: 0;
    }

    .productCover .spanish-cover-title {
        top: 17%;
    }

    .productCover .italian-cover-title {
        top: 18%;
    }

    .productPage {
        padding-top: 55px;
    }

    .productCover .FR{
        top: 13%;
    }

    .banner_violetta {
        margin-top: -34%;
    }

    .violettaFigures {
        margin-top: -29%;
    }

    /*.carousel-caption {
        font-size: 1.9vh;
    }*/

    .spanish-cover-title h2, .productCover .italian-cover-title h2 {
        margin-bottom: -3%;
    }
}

@media only screen and (max-width: 320px){
    .productCover .italian-cover-title {
        top: 18%;
    }

    .productCover .disney-cover-title {
        top: 14%;
    }

    .productCover .FR {
    top: 14%;
    }
}

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

